@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

/* #root {
    background-color: #fffae6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  } */

#root {
  width: 100vw;
  height: 100vh;
  background-color: #fffae6;
}

.container-login {
  background-color: #fffae6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-auth {
  padding: 3vh 3vw;
  border: 5px solid #ff9f66;
  border-radius: 10px;
  color: #ff9f66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInLong 2s;
}

.form-auth * {
  /* border: 1px solid antiquewhite; */
}

.form-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-row {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.form-row-left {
  /* border: 1px solid brown; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-row-right {
}

.form-input-name {
  margin-right: 18px;
  font-size: 2rem;
}

.form-input-box {
  border-radius: 1.5rem;
  border: 2px solid #ff9f66;
  padding: 10px;
  font-size: 2rem;
}

.form-input-box::placeholder {
  color: #002379;
}

.form-buttons {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-buttons button {
  font-size: 2rem;
  padding: 1vh 3vh;
  border-radius: 1.5rem;
  /* border-radius: 20px; */
  border: 2px solid #ff9f66;
  cursor: pointer;
}

button:active {
  background-color: #ff9f66;
  transform: translateY(2px);
}

.button-submit {
  color: #fffae6;
  background-color: #002379;
}

.button-submit:hover {
  border: 2px solid antiquewhite;
}

.header {
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: #ff5f00;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-user-dropdown {
  padding: 10px;
  flex-direction: column;
  background-color: #fffae6;
  display: none;
  position: absolute;
  animation: fadeIn 0.2s;
}

.header-user-info:hover .header-user-dropdown {
  display: flex;
}

.header-logo-anchor {
  text-decoration: none;
  color: #002379;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Lobster";
  font-size: xx-large;
}

.logo {
  font-family: "Lobster";
  color: #ff5f00;
  font-size: 8em;
  box-sizing: content-box;
  /* border: 1px solid blue; */
  margin-bottom: 1em;
  text-align: center;
  animation: fadeIn 1s;
}
